POSTGRES_DB = minicrmdb
POSTGRES_USER = postgres
POSTGRES_PASSWORD = yourpassword
DATABASE_URL = postgresql+asyncpg://postgres:yourpassword@db:5432/minicrmdb
DEBUG = False
APP_TITLE = МиниCRM приложение
SECRET = SUPERSECRETKEY
FIRST_SUPERUSER_USERNAME = superadmin
FIRST_SUPERUSER_EMAIL = superadmin@mail.com
FIRST_SUPERUSER_PASSWORD = superadmin
FIRST_SUPERUSER_ROLE = admin
