[tool.black]
line-length = 90
target-version = ['py311']
extend-exclude = '''
(
  \.venv
  | venv
  | build
  | dist
)
'''
[tool.isort]
profile = "black"
line_length = 90
multi_line_output = 3
skip_gitignore = true
skip_glob = ["**/migrations/*", "**/settings/*"]
src_paths = ["app"]