name: miniCRM workflow

on: 
  push:
    branches:
      - '**'

jobs:
    lint:
        name: Lint
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name:  Set up Python
              uses: actions/setup-python@v4
              with:
                python-version: 3.11

            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt
            
            - name: Test with black(check only)
              run: |
                python -m black . --check

            - name: Test with isort(check only)
              run: |
                python -m isort . --check-only

            - name: Test with flake8
              run: |
                flake8 . --count --statistics --show-source

    push_branch_dev_to_docker_hub:
        name: Build and Push Docker (dev)
        runs-on: ubuntu-latest
        needs: lint

        if: github.ref == 'refs/heads/dev'

        steps:
            - name: Check out the repo
              uses: actions/checkout@v4

            - name: Setup Docker Buildx
              uses: docker/setup-buildx-action@v3
            
            - name: Login to Docker
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}
            - name: Push to Docker Hub
              uses: docker/build-push-action@v5
              with:
                push: true
                tags: |
                  dmsn/minicrm:dev

    push_branch_main_to_docker_hub:
        name: Build and Push Docker (prod)
        runs-on: ubuntu-latest
        needs: lint

        if: github.ref == 'refs/heads/main'

        steps:
            - name: Check out the repo
              uses: actions/checkout@v4

            - name: Setup Docker Buildx
              uses: docker/setup-buildx-action@v3
            
            - name: Login to Docker
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}
            - name: Push to Docker Hub
              uses: docker/build-push-action@v5
              with:
                push: true
                tags: |
                  dmsn/minicrm:prod
